.feature-products {
  &__container {
    width: 100%;
  }

  &__wrapper {
    min-height: 30vh;
    &:nth-child(1) {
      background-color: $muted-gray;
    }
    &:nth-child(2) {
      background-color: $neon-yellow;
    }
    &:nth-child(3) {
      background-color: $neon-light-blue;
    }
    &:nth-child(4) {
      background-color: $neon-green;
    }
  }
  &__picture {
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;

    & > img {
      height: 75%;
      width: auto;
    }
  }

  &__content {
    &__wrapper {
      padding: 3rem;

      & > h2 {
        font-size: 2rem;
        font-weight: $font-semi-bold;
        margin-bottom: 1.5rem;
      }
      & > p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }
      & > span {
        font-size: 1.5rem;
      }
    }
  }
}

// MEDIA QUERY SMALL
@media screen and (min-width: $media-sm) {
  .feature-products {
    &__wrapper {
      min-height: 45vh;
    }

    &__picture {
      height: 70vh;

      & > img {
        height: 90%;
      }
    }

    &__content {
      &__wrapper {
        padding: 4rem;

        & > h2 {
          font-size: 3.5rem;
        }
        & > p {
          font-size: 2rem;
        }
        & > span {
          font-size: 2.3rem;
        }
      }
    }
  }
}

// MEDIA QUERY LARGE
@media screen and (min-width: $media-lg) {
  .feature-products {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__wrapper{
        height:85vh;
        &:nth-child(3) {
            grid-column: 2 / -1;
          }
          &:nth-child(4) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
          }
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__wrapper{
            & > span{
                font-size: 1.8rem;
            }
        }
    }
    
  }

}
