.products {
  position: relative;
  &__container {
    min-height: 50vh;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 2rem;
  }
  &__title {
    text-align: center;
    color: $neon-yellow;
    font-size: 5rem;
    &--overflow {
      overflow: hidden;
    }
  }
  &__cursor {
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
    & > img {
      height: 100px;
    }
  }
}

.product {
  &__wrapper {
    position: relative;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    user-select: none;
    & > img {
      height: 70%;
      width: auto;
    }
    &:hover .product__description {
      transform: translateX(-50%) scale(1);
    }
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    height: 225px;
    width: 225px;
    opacity: 0.8;
    transform: translateX(-50%) scale(0);
    background-color: $neon-pink;
    border-radius: 50%;
    border: 3px solid $color-white;
    transition: 0.3s ease;
  }
  &__content {
    padding: 2rem;
    color: $color-white;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > * {
      margin-bottom: 0.5rem;
    }
    & > a {
      text-decoration: none;
      color: $color-white;
      text-transform: uppercase;
    }
  }
  &__title {
    font-weight: $font-semi-bold;
  }
  &__detail {
    text-transform: uppercase;
  }
  &__rating {
    font-size: 0.5rem;
  }
}

// MEDIA QUERY LARGE
@media screen and (min-width: $media-lg) {
  .products {
    &__title {
      font-size: 15rem;
    }
  }
  .product {
    &__wrapper {
      width: 25vw;
    }
  }
}
