// GLOBALS: SCREEN READERS
// Screen readers: Show content only on screen readers: Mixin
@mixin show-on-screen-readers {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px); /* Fallback: Older Browsers */
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    white-space: nowrap;
  }
  
  .show-on-screen-readers {
    @include show-on-screen-readers;
  }